{% extends "base.html" %}

{% block content %}
    <h1>Blogosphere!</h1>
    <hr />

    <form method="POST" action="/posting" style="display:inline-block;">
        <input type="submit" value="Post" />
    </form>

    <hr />

    {% if posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}

            {% for post in posts %}
            <section>
                    <a href="/view?id={{post.id}}" name='post-id' value="{{post.id}}"><h3>{{post.title}}</h3></a>
                    <p>{{post.name}}</p>
                <form method="POST" action="/delete-post" style="display:inline-block;">
                    <input type="hidden" name="post-id" value="{{post.id}}" />
                    <input type="submit" value="Delete" />
                </form>
                    {% if post.completed == False %}
                    <form method="POST" action="/like-post" style="display:inline-block;">
                        <input type="hidden" name="post-id" value="{{post.id}}" />
                        <input type="submit" value="Like" />
                    </form>
                    {% else %}
                        Liked!
                    {% endif %}
            </section>
            <hr />
            {% endfor %}

    {% endif %}


{% endblock %}